@charset 'utf-8';

@-webkit-keyframes boutonSuivant
{
	0% { @include scale(1); }
	50% { @include scale(1.25); }
	100% { @include scale(1); }
}
@keyframes boutonSuivant
{
	0% { @include scale(1); }
	50% { @include scale(1.25); }
	100% { @include scale(1); }
}

@-webkit-keyframes affichageMessage
{
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes affichageMessage
{
	from { opacity: 0; }
	to { opacity: 1; }
}

@-webkit-keyframes changerCouleur
{
	from { color: $tiz; }
	to { color: $orange; }
}
@keyframes changerCouleur
{
	from { color: $tiz; }
	to { color: $orange; }
}