@charset 'utf-8';

/**
 * Fichier relatif à la section .home
 */

.coordonnees
{
	background-attachment: fixed;
	background-image: url('../img/footer_lodyas.png');
	background-position: center center;
	background-repeat: repeat;
		
	.container
	{
		position: relative;
		margin: 0 auto;
		padding: 150px 150px;
		width: 50%;
		
		@media (max-height: 1000px)
		{
			padding: 100px 150px;
			width: 85%;
		}
		
		h1
		{
			color: $blanc;
			
    		strong
    		{
	    		color: $bleu;
        		font-variant: normal;
    		}
		}
		
		.colonne
		{
			display: inline-block;
			vertical-align: top;
			width: 50%;
			
			& > ul
			{
				list-style: none;
				margin: 0 auto 1em;
				padding: 0;
				
				li 
				{
					position: relative;
					color: $blanc;
					font-size: 1.5em;
					font-weight: 300;
					letter-spacing: .015em;
					margin-bottom: 1.15em;
					padding-left: 50px;
					
					&::before
					{
						position: absolute; top: 0; left: 0;
						font-family: $icofont;
						height: 30px;
						line-height: 30px;
						text-align: center;
						width: 30px;
					}
					
					&.adresse::before { content: '\e82a'; }
					&.mobilite::before { content: '\e97f'; }
					&.telephone::before { content: '\e862'; }
					&.email::before { content: '\e945'; }
					&.site::before { content: '\e8a8'; }
					&.age::before { content: '\e8e7'; }
					
					a 
					{
						color: $blanc;
						@include transition(all);
						
						&:hover
						{
							color: $bleu;
						}
					}
					
					small
					{
						color: rgba($blanc, .66);
						font-size: .85em;
						font-style: italic;
					}
				}
			}
		}
	}
}