@charset 'utf-8';

/**
 * Fichier relatif à la section .opportunite
 */

.opportunite
{
	background-attachment: fixed;
	background-image: url('../img/brickwall.png');
	background-position: center center;
	background-repeat: repeat;
	
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
	{
		background-image: url('../img/brickwall_@2X.png');
		background-size: 110px 69px;
	}
	
    .carte
    {
        position: absolute; top: 0; left: 0;
        height: 100%;
        opacity: .33;
        pointer-events: none;
        width: 100%;
    }
    
    .container
	{
		position: relative;
		height: 100%;
		margin: 0 auto;
		padding: 100px 150px;
		width: 85%;	
			
		@media all and (max-width: 1400px)
		{
    		padding: 100px 50px;
		}
		
		h1
		{
    		strong
    		{
        		font-variant: normal;
    		}
		}
    }
}