@charset 'utf-8';

/**
 * Fichier relatif à la section .opportunite
 */

.opportunite
{
	background-attachment: fixed;
	background-image: url('../img/brickwall.png');
	background-position: center center;
	background-repeat: repeat;
	
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
	{
		background-image: url('../img/brickwall_@2X.png');
		background-size: 110px 69px;
	}
	
    .carte
    {
        position: absolute; top: 0; left: 0;
        height: 100%;
        opacity: .33;
        pointer-events: none;
        width: 100%;
    }
    
    .container
	{
		position: relative;
		height: 100%;
		margin: 0 auto;
		padding: 100px 150px;
		width: 85%;	
		
		@media all and (min-height: 1000px)
		{
			position: absolute; top: calc(50% - 500px); left: calc(50% - 700px);
			height: 1000px;
			width: 1400px;
		}
			
		@media all and (max-width: 1400px)
		{
    		padding: 100px 50px;
		}
		
		h1
		{
    		strong
    		{
	    		color: $bleu;
        		font-variant: normal;
    		}
		}
		
		ol.raisons
		{
			display: block;
			font-family: $labeur;
			font-size: 1.66em;
			list-style: none;
			padding: 0;
			
			li 
			{
				position: relative;
				margin: 1em 0 2em;
				padding-left: 60px;
				@include text-shadow(0, 0, 5px, $blanc);
				width: 70%;
				
				@media (max-height: 1000px)
				{
					margin: 1.5em 0 1.5em;
				}
				
				&::before
				{
					position: absolute; top: 0; top: calc(50% - 20px); left: 0;
					display: block;
					@include border-radius(.5em);
					color: $blanc;
					font-family: $labeur;
					font-size: 30px;
					font-weight: 700;
					height: 40px;
					line-height: 43px;
					text-align: center;
					width: 40px;
				}
				
				&:nth-of-type(odd)
				{
					margin-left: 10%;
				}
				
				&:nth-of-type(even)
				{
					margin-left: 33%;
				}
				
				&:nth-of-type(even)::before
				{
					background-color: $bleu; 
					@include text-shadow(0, 0, 15px, $blanc);
				}
				&:nth-of-type(odd)::before
				{ 
					background-color: $orange; 
					@include text-shadow(0, 0, 15px, $blanc);
				}
				
				&:nth-of-type(1)::before { content: '1'; }
				&:nth-of-type(2)::before { content: '2'; }
				&:nth-of-type(3)::before { content: '3'; }
				&:nth-of-type(4)::before { content: '4'; }
				&:nth-of-type(5)::before { content: '5'; }
				
				strong { color: $bleu; }
			}
		}
    }
}