@charset "utf-8";

/**
 * Fichier principal des styles du projet RecruTIZ-moi
 */


// Mise en place des webfonts
$labeur:  'Fira Sans', 'Helvetica', 'Arial', sans-serif;
$hiwelo:  'Grand Hotel', cursive;
$titrage: 'Lato', 'Helvetica', 'Arial', sans-serif;
$icofont: 'fontello';